body {
    color: #434455;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.site-title {
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #2E2F42;
}

.part-site-title {
    color: #4D5AE5;
}

.header-link {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.header {
    background-color: #FFFFFF;
}

.contact {
    color: #434455;
    font-style: normal;
    text-decoration: none;
}

.first-section {
    background-color: #2E2F42;
}

.title {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
}

.button-of-order {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
}

.second-and-thrid-section {
    background-color: #E5E5E5;
}

.title-h3 {
    color: #2E2F42;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
}

.paragraph {
    
}

.title-h2 {
    color: #2E2F42;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
}

.fourth-section {
    background-color: #F4F4FD;
}

.img-team {
    background-color: #FFFFFF;
}

.bgr-portfolio {
    color: #E5E5E5;
}

.bgr-footer {
    background-color: #2E2F42;
}

.site-title-footer {
    color: #F4F4FD;
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
}

.paragraph-footer {
    color: #E7E9FC;
}